body {
    margin: 0;
}
header {
    background-color: #ffde59;
    height: 20vh;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 50px;

}
h1,h2,p {
    font-family: Impact, Charcoal, sans-serif;
    text-align: center;
}
section{
    background-color: #1f1f1f;
    height: 80vh;
    display: flex;
}
article{
    background-color : white;
    height: 50vh;
    width: 25vw;
    margin-top: 20vh;
    margin-left: 6vw;
    display: flex;
    flex-direction: column;
}
.cercle{
    background-color: #ffde59;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 7vw;
    margin-top: -10vh;

}






